{% extends 'base.html' %}
{% load static %}

{% block header  %}
<body class="main-layout inner_header">
{% endblock  %}

   {% block about_us %}
     <div class="yellow_darkbg">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                  <h2>About Us</h2>
                 </div>
              </div>
           </div>
        </div>
     </div>


      <!-- team -->
      <div class="team">
         <div class="container">
            <div class="row d_flex">
              {% for proj in project %}
               <div class="col-md-6">
                  <div class="titlepage">
                      <h3>{{proj.title}}</h3>
                     <p>{{ proj.description }}</p>
                     <a class="read_more" href="{{ proj.link }}"> Read More</a>
                  </div>
               </div>
                <div class="col-md-5 offset-md-1">
                  <div class="team_img">
                     <figure><img src="{{ proj.image.url }}" alt="#"/></figure>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
         <!-- team -->
   {% endblock %}

